<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.unibl.etf.fitsocial.Chat.refresh</string>
		<string>org.unibl.etf.fitsocial.Feed.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.unibl.etf.FitSocial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitsocial</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.100.31</key>
			<dict>
				<key>Includes Subdomains</key>
				<true/>
				<key>Temporary Exception Allows Insecure HTTP Loads</key>
				<true/>
				<key>Temporary Exception Minimum TLS Version</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_Proxyman._tcp</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notifikacije vam omogućavaju da budete u toku sa novim porukama, terminima i važnim događajima u realnom vremenu.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
</dict>
</plist>
